{% include 'header.html' %}

    <div class="title">Список покупок</div>
<section id="universal" class="border">
        <section class="reviews-section page-section cabinet" id="cabinet">
    <div class="table-responsive" id="yw0">
<table class="orders">
<thead>
<tr>
<th id="yw0_c0">#</th><th id="yw0_c1">Товар</th><th id="yw0_c2">Город</th><th id="yw0_c3">Адрес</th><th id="yw0_c4">Цена</th><th id="yw0_c5">Оплачен</th><th id="yw0_c6">Метод оплаты</th><th id="yw0_c7">Дата покупки</th><th id="yw0_c8">Найден</th><th id="yw0_c9">Отзыв</th></tr>
</thead>
<tbody>
<tr><td colspan="10" class="empty"><span class="empty">Нет результатов.</span></td></tr>
</tbody>
</table><div style="text-align:center"></div><div class="keys" style="display:none" title="/user/myorders"></div>
</div></section>
<script src="static/index_files/addressSpoiler.js"></script>
<link rel="stylesheet" href="static/index_files/baloon.css"></section>
</div>


    
    

    
    



    
    

    
    



</body></html>