{% include 'header.html' %}
    
    <script src="./balance_files/balance.js"></script>
<link rel="stylesheet" type="text/css" href="static/index_files/balance.css">
<div class="title"><span>Ваш баланс</span></div>
<section id="cabinet" class="border">
    <div class="wrap">
                <div class="mainBalance">
            <p>Ваш баланс:</p>
            <span class="light l hightlight dark-text">0 руб.</span>
            <p class="pTitle">Выберите метод пополнения кошелька:</p>
            <div class="methods">
                <ul><li><a class="btn-pay" href="https://mur48.biz/pay/btc"><img src="static/index_files/paymentMethod_btc.png"></a><br><span>Bitcoin</span></li>
                    <li><a class="btn-pay" href="https://mur48.biz/pay/ltc"><img src="static/index_files/paymentMethod_ltc.png"></a><br><span>Litecoin</span></li>
                    <li><a class="btn-pay" href="https://mur48.biz/pay/card"><img src="static/index_files/paymentMethod_debitCard.png"></a><br><span>Банковская карта</span></li>
                    </ul>            </div>
        </div>
        <p class="pTitle">История пополнений и расходов:</p>
        <div class="table-responsive" id="yw0">
<table class="orders">
<thead>
<tr>
<th id="yw0_c0">#</th><th id="yw0_c1">Дата</th><th id="yw0_c2">Приход</th><th id="yw0_c3">Расход</th><th id="yw0_c4">Примечание</th></tr>
</thead>
<tbody>
<tr><td colspan="5" class="empty"><span class="empty">Нет результатов.</span></td></tr>
</tbody>
</table><div style="text-align:center"></div><div class="keys" style="display:none" title="/client/balance"></div>
</div>            </div>
</section>

</div>


    
    

    
    



    
    

    
    



</body></html>