{% include "header.html" %}
    
    
    <div class="title">Выберите действие</div>
<section id="cap" class="border">
    <div><a class="block" href="{% url 'register' %}"><span>Зарегистрироваться</span></a></div>
    <br>
    <div><a class="block" href="{% url 'login' %}"><span>Я уже зарегистрирован</span></a></div>
    <br>
    <div><a class="block" href="{% url 'end' %}"><span>Продолжить без регистрации</span></a></div>
</section>
</div>


    
    

    
    



    
    

    
    


</body></html>