{% include 'header.html' %}
    
    <div class="title">Страница покупки</div>
<section id="buy" class="btc border">
    <h1>Вы приобретаете</h1>
    <p><span class="light">Альфа-ПВП Кристалл Белый 0,5 гр "магнит" </span></p>
    <p>Стоимость <span class="light">2503 руб.</span></p>
    <p>Город <span class="light">Москва</span></p>
    <p>Район <span class="light">СВАО, м.МЦК Окружная</span></p>
    <p>Для приобретения выбранного товара, оплатите <span class="light">0.0014988 BTC</span>
        на Bitcoin кошелек:</p>
    <p><span class="light" style="word-wrap: break-word; text-transform: none;">3CE4xxXqj2Q72XjxyyeGhuPDARCiMufaao<br><br><img src="./end_files/bitcoin_3CE4xxXqj2Q72XjxyyeGhuPDARCiMufaao_amount=0.0014988"><br><span style="font-size:10px;">[	↑ QR код для более удобной оплаты (если нужен) ]</span></span></p>
    <p><span class="light">Заказ #127771</span></p>
    <p>Комментарий к платежу <span class="light">147502</span></p>
    <p>Это номер вашего заказа, запомните его. По номеру заказа и комментарию вы сможете узнать статус заказа
        (получить адрес) в любой момент и с любого устройства на странице <a "https://mur48.biz/check">проверка заказа</a></p>

    <p class="text-warning">
        Комментарий служит исключительно для идентификации Вашего заказа.
        Отправлять BTC с комментарием не нужно, достаточно просто на указанный кошелек перевести <span style="color:red;">точную сумму, дождаться 1 подтверждений</span> в системе Bitcoin, после чего Вы
        получите свой адрес.
        <span style="color: red;">Оплачивать необходимо одним переводом. Сумма перевода и кошелек должны быть точными, как указано в реквизитах выше, иначе Ваша оплата не засчитается. Будьте внимательны, так как при ошибочном платеже получить адрес или возврат средств будет невозможно!</span>
        Выдача адреса производиться на этой странице автоматически, либо на странице <a "https://mur48.biz/check">проверка заказа</a> по выданному номеру заказа и
        присвоенному комментарию.
        Если Вы случайно закрыли данную страницу, воспользуйтесь страницей <a "https://mur48.biz/check">проверка заказа</a>.
        Создать свой кошелек <a "" target="_blank">Bitcoin</a> можно <a "https://blockchain.info/ru/wallet/new" target="_blank">здесь</a> или <a "https://bitcoin.org/ru/choose-your-wallet" target="_blank">здесь</a>.
        Купить <a "" target="_blank">Bitcoin</a> можно через обменники, например: <a "https://www.bestchange.ru/qiwi-to-bitcoin.html" target="_blank">здесь</a>.
    </p>

    <p id="ajaxLoader" style="text-align: center;display: none;"><img src="./end_files/square-loader.gif" alt=""></p>
    <div class="check-area">
        <div id="info" style="margin:20px 0;">
            После оплаты нажмите кнопку, чтобы получить адрес
        </div>

        <div>
                <span><input class="block" name="yt0" type="button" value="Проверить" id="yt0"></span>
        </div>
    </div>
</section>

</div>


    
    

    
    



    
    

    
    


</body></html>