{% include "header.html" %}
    


<div class="content">


    


    
    <div class="title">Вход</div>
<section id="login" class="border">
        <form id="login-form" action="" method="post">

        

        <ul>
            <li>Введите Ваш логин *</li>
            <li>
                <input required="required" class="input" name="LoginForm[username]" id="LoginForm_username" type="text">            </li>
        </ul>

        <ul>
            <li>Введите Ваш пароль *</li>
            <li><input required="required" class="input" name="LoginForm[password]" id="LoginForm_password" type="password"></li>
        </ul>

        <ul>
            <li>Введите код с картинки *</li>
            <li class="captcha">
                <img id="yw0" src="static/register_files/captcha" alt="">                <input required="required" class="verifyCode input" name="LoginForm[verifyCode]" id="LoginForm_verifyCode" type="text">            </li>
        </ul>

        <div>
            <span><input class="block" type="submit" name="yt0" value="Войти"></span>
        </div>

        </form></section>
</div>


    
    

    
    



    
    

    
    


</body></html>