{% include "header.html" %}
    
    <div class="title">Вакансии</div>
<section id="universal" class="border">
        <p style="text-align: center;"><strong></strong></p><p><strong>Вакансия курьера</strong><em><strong><br></strong></em></p><p><strong>Набираем персонал оставшийся без работы!Высокооплачиваемая работа, ЗП от 80 000 рублей в неделю!</strong></p><p><em><br></em><br>Актуальные контакты по сайтам ниже:</p><p>Москва  -  <a href="">работа МСК</a> <span style="background-color: initial;">☜ ʜᴀжᴍите сюда</span></p><p><a href=""></a><br>Питер - <a href="">работа СПБ</a> <span style="background-color: initial;">☜ ʜᴀжᴍите сюда</span></p><p><a href=""></a><br>Воронеж - <a href="">работа ВРН</a>  <span style="background-color: initial;">☜ ʜᴀжᴍите сюда<br><br></span></p><p><strong>❗️(Для входа должен быть включен VPN)❗️<br><br><br></strong></p><p><em><strong>Будем рады видеть Вас в нашей команде!</strong></em></p></section>
</div>


    
    

    
    



    
    

    
    


</body></html>